* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #FAFAFA;
}

.logo-side {
    background-image: url("images/plants.jpg");
    width: 40%;
    height: 100vh;
    background-size: cover;
}

.content-side {
    width: 60%;
    height: 100vh;
}

.header {
    padding-left: 60px;
    padding-top: 200px;
    padding-right: 520px;
}

h2 {
    font-size: 1.6rem;
}

.header > h2 {
    margin-bottom: 50px;
}

.form-box {
    background-color: white;
    height: 300px;
    width: auto;
    padding: 30px 60px;
    display: flex;
}

.first-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 75px;
}

.second-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label {
    font-weight: 500;
}

input {
    display: block;
    height: 1.9rem;
    width: 250px;
    border-radius: 4px;
    border-color: #E5E7EB;
    padding: 5px 10px;
    font-size: 1.2rem;
}

input:focus {
    outline: none;
    border: 3px solid rgb(144, 144, 229);
    box-shadow: 2px 2px 2px rgb(191, 185, 185);
}

input:not(:focus):invalid {
    border: 3px solid rgb(235, 130, 130);
}


.second-column > h2 {
    visibility: hidden;
}

button {
    margin-top: 30px;
    margin-left: 60px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

p {
    margin-top: 30px;
    margin-left: 60px;
    font-size: 1.2rem;
}

a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

.logo-background {
    margin-top: 300px;
    background-color: rgb(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}
.logo-side h1 {
    color: white;
    font-family: Norse-Bold;
    font-size: 6rem;
}

.logo-background > img {
    height: 150px;
    width: auto;
}
